@media only screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        gap: 1.5rem;
    }

    .flex-between {
        flex-direction: column;
    }

    .hero-one h3 {
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 19px;
    }

    .hero-one h3,
    .sections h3 {
        font-size: 2.5rem;
    }
    
}


@media only screen and (max-width: 425px) {
    .swiper-slide img {
        width: 230px !important;
        height: 230px !important;
      }
    
}



